@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to NetGroupChallenge App!</h1>

<AuthorizeView>
    <NotAuthorized>
        <a href="authentication/login">Log in</a> or <a href="authentication/register">Register</a> to access application.
    </NotAuthorized>
</AuthorizeView>
